* {
    margin: 0;

    padding: 0;
}

body {
    font-family: "Young Serif", serif;
    font-weight: 400;
    font-style: normal;
}

.container {
    margin: 50px;
}

.section-one {
    padding: 20px;
    background-color: black;
    color: white;
    border-radius: 10px;
}

.section-one__contect {
    background-color: orangered;
    color: white;
    text-decoration: none;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 5px;
    padding-bottom: 5px;
    display: inline-block;
    margin-top: 10px;
    border-radius: 5px;
}

.section-one__name {

    font-size: 60px;
}

.section-one__dese {
    font-size: 30px;
    margin-top: 10px;

}

.section-two,
.section-three,
.section-four,
.section-five {
    margin:10px;
}

.section-two__desc,
.section-three__desc,
.section-four__desc,
.section-five__desc {
    margin: 10px;
}

.section-three {
    background-color: purple;
    color: white;
    padding: 20px;
    display: inline-block;
    border-radius: 10px;
    height: 200px;
    vertical-align: top;

}

.section-four {
    background-color: orangered;
    color: white;
    padding: 20px;
    display: inline-block;
    border-radius: 10px;
    height: 200px;
    vertical-align: top;

}

.section-five{
    background-color: black;
    color: white;
    padding: 20px;
    border-radius: 10px;
}

.section-five__title a{
    color:skyblue;
}

.section-three li,
.section-four li {
    list-style: none;
}